$device-width: 1440px;

.container {
  max-width: $device-width;
  margin: 0 auto;
  padding: 0;
}
a {
  text-decoration: none;
  color: rgb(100, 95, 95);
  color: #e85a4f;
}
%flexbox {
  display: flex;
}
.right {
  list-style: none;
  @extend %flexbox;
  margin: 0;
  padding: 1rem;
  float: right;
  .line {
    padding: 2rem;
  }
  .btn {
    margin-left: 2rem;
  }
}
