$device-width: 1440px;

.container {
  max-width: $device-width;
  margin: 0 auto;
  padding: 0 1rem;
}
a {
  text-decoration: none;
  padding: 1rem;
  color: rgb(177, 171, 171);
}
%flexbox {
  display: flex;
}
.right {
  list-style: none;
  @extend %flexbox;
  // float: right;
}
