.info {
  padding: 1rem 1rem 1rem 3rem;
  text-align: left;
  background-color: #e9e7da;
  h2 {
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
    font-weight: 300;
    color: #e85a4f;
  }
  span {
    font-size: 2rem;
    color: rgba(219, 3, 3, 0.932);
  }
  select {
    width: 200px;
    height: 30px;
    background-color: white;
    margin-left: 7rem;
  }
  p {
    padding: 1rem;
  }
  button {
    margin-top: 1rem;
  }
}
.prod-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  clear: both;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

  .img {
    border-right: 0.5px solid gray;
    img {
      //   height: 50%;
      width: 60%;
    }
    margin: 0 auto;
  }
  span {
    padding: 3rem 3rem 3rem 0;
    text-align: left;
  }
  p {
    // width: 60%;
    display: block;
    margin: 0 auto;
    padding: 3rem 0 3rem 0;
  }
}
