* {
  box-sizing: border-box;
}
.container {
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

.wrapper-pro {
  background-color: white;
  padding: 0.7rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  img {
    width: 210px;
  }
  .pro-price {
  }
  .info-price {
    padding-top: 2rem;

    a {
      font-size: 1.3rem;
      // padding: 2rem 0;
    }

    span {
      display: block;
      padding-top: 1rem;
      font-size: 20px;
      // text-align: left;
    }

    .price {
      color: green;
    }
    .pro-name {
      padding: 0;
    }

    button {
      padding: 0.6rem 0.8rem;
      background-color: black;
      color: white;
      margin-top: 1rem;
      border: none;
    }
  }
}
.search-box {
  background-color: #1d1e22;
  padding: 3rem;
  color: #e85a4f;
  h1 {
    display: block;
    margin: 0;
    padding: 2rem;
  }

  input[type="text"] {
    padding: 0.5rem 8rem 0.5rem 2rem;
    margin: 1rem;
  }
  button {
    padding: 0.6rem 2rem;
    background-color: black;
    color: #e85a4f;
    border: none;
  }
}
.products {
  padding: 2rem;
  h2 {
    padding: 1rem;
  }
  .lead {
    padding: 1rem;
    width: 40%;
    margin: 0 auto;
    color: #e85a4f;
  }
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
FontAwesomeIcon {
  position: absolute;
}
.input-box {
  display: inline-block;
  position: relative;

  &:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    // color: #459ce7;
    font-size: 18px;
    padding: 1rem 1rem 1rem 1.5rem;
    position: absolute;
    top: 8px;
    // right: 0;
  }
}
.image {
  display: flex;
  // padding: 1rem;
}
.product-container {
  background-color: #ffde22;
}
