.review-list {
  list-style: none;
}

.user-details {
  display: grid;
  grid-template-columns: 0.2fr 0.3fr 2fr;
  img {
    border-radius: 50%;
  }
}
.details {
  //   padding: 3rem;
  span {
    display: block;
  }
}
.wrapper-review {
  padding: 1rem;
  h2 {
    text-align: left;
    font-size: 3rem;
    font-weight: 300;
    padding: 2rem;
  }

  .review-list {
    padding: 2rem;

    .user-details {
      img {
        height: 80px;
        width: 80px;
      }
    }
  }
}
