.wrapper-shipping {
  form {
    width: 800px;
    .name {
      width: 30%;
      margin: 1rem;
      height: 30px;
    }
    #address,
    #address2 {
      width: 65%;
      height: 30px;
      margin: 10px;
    }
    select {
      background-color: white;
      width: 30.5%;
      margin: 1rem;
      height: 30px;
    }

    #city {
      width: 30.5%;
      margin: 1rem;
      height: 30px;
    }
    #zip,
    #phone {
      width: 30.5%;
      margin: 1rem;
      height: 30px;
    }
    .radios {
      display: grid;
      grid-template-columns: 1fr 1fr;
      // justify-content: space-between;
      grid-gap: 4rem;
      width: 60%;
      margin-left: 9rem;

      // span {
      //   display: inline-block;
      // }
      .free-shipping,
      .next-day {
        //   width: 30.5%;
        display: flex;

        p {
          text-align: left;
        }
      }
      input[type="radio"] {
        padding: 5rem;
      }

      .delivery-type {
        font-size: 12px;
        color: gray;
        padding-top: 1rem;
      }
    }
  }

  .btn {
    // margin: 2rem;
    margin: 2rem 0 0 9rem;
    float: left;
    padding: 0.5rem 4rem;

    &-light {
      padding: 0.5rem 3rem;
      float: left;
      border: none;
      margin: 2rem 0 0 1rem;
    }
  }
}
